@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family:'Open Sans', sans-serif;
  width:90%;
  margin:0 auto;
  padding:2em 0 6em;
}

button {
  font-family:'Open Sans', sans-serif;
  border: 0;
  color:#ddd;
  background:#5a5;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

a,a:visited,a:hover,a:active{
  transition:0.5s color ease;
  text-decoration:none;
  color: #5a5;
  font-size:2.5em;
  padding: 0.2em;
}

a:hover{
  color:#ddd;
}
