always-auth = true
email = "rahul.gaur@innovaccer.com"
registry = "http://52.35.230.55/"
strict-ssl = false
username = "aregee"
//52.35.230.55/:_authToken="6kIShm4VxJp6wGa5wv0+SQ=="
package-lock=false
